#root {
    text-align: center;
    margin:0px;
    min-height: 100vh;
    padding: 10px;
    background-color:rgb(252, 252, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
/* * {
    border: solid black 1px;
} */
